<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @RenderSection("head", false)
</head>
<body>
    @if (ViewBag.HideNavBar == null || !ViewBag.HideNavBar)
    {
        <div class="nav-wrapper bg-light">
            <div class="container">
                <div class="navbar navbar-light row">
                    <div id="nav-brand-container" class="col-auto">
                        @Html.ActionLink("Edunet", "Index", "Home", null, new { @class = "navbar-brand mb-0 h1" })
                    </div>
                    @if (ViewBag.ShowNavBarSearch != null && ViewBag.ShowNavBarSearch)
                    {
                        <div id="col-s-input" class="col d-md-block d-none">
                            <div class="form-inline my-2 my-lg-0 row">
                                <input id="search-input" class="form-control col" type="search" placeholder="Cosa stai cercando?" aria-label="Cosa stai cercando?" value="@ViewBag.NavBarText" />
                            </div>
                        </div>
                    }
                    <div class="col-auto">
                        @if (ViewBag.ShowNavBarSearch != null && ViewBag.ShowNavBarSearch)
                        {
                            <button id="search-button" class="btn btn-outline-dark my-2 col-auto nav-search" type="submit"><i class="material-icons">search</i></button>
                        }

                        @if (ViewBag.ShowNavBarLogin != null && ViewBag.ShowNavBarLogin)
                        {
                            var user = Ecommerce.Utils.SessionContext.GetUserData();
                            if ((ViewContext.RouteData.Values["Action"].ToString() != "Index" || ViewContext.RouteData.Values["Controller"].ToString() != "Login") && user == null)
                            {
                                <a class="nav-link d-inline-block h6" href="@Url.Action("Index", "Login")">Login</a>
                            }
                            else if (user != null)
                            {
                                <a class="nav-link d-inline-block h6" href="@Url.Action("Index", "Utente")">Ciao @user.Name</a>
                            }
                        }

                        @if (ViewBag.ShowNavBarCustom != null && ViewBag.ShowNavBarCustom)
                        {
                            @Html.Raw(ViewBag.ShowNavBarCustom)
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container page">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)

    @if (ViewBag.ShowNavBarSearch != null && ViewBag.ShowNavBarSearch)
    {
        <script>
            $(document).ready(() => {

                $('#search-button').click(searchClick)

                function searchClick() {
                    let win = $(window);
                    let input = $('#search-input');
                    if (win.width() < 768 && input.val().length == 0) {
                        $('#nav-brand-container').removeClass('col-auto').addClass('col-12');
                        $('#col-s-input').removeClass('d-none').addClass('d-block');
                    }
                    if (input.val().length > 0) location = '/Cerca/' + encodeURIComponent(input.val());
                }
            });
        </script>
    }

    <div class="footer-container">
        <footer class="container py-5">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Edunet</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="@Url.Action("Index", "Home")">Home</a></li>
                    </ul>
                    <small class="d-block mb-3 text-muted">© @DateTime.Now.Year</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Account</h5>
                    <ul class="list-unstyled text-small">
                        @if (Ecommerce.Utils.SessionContext.GetUserID() > 0)
                        {
                            <li><a class="text-muted" href="@Url.Action("Logout", "Login")">Logout</a></li>
                        }
                        else
                        {
                            <li><a class="text-muted" href="@Url.Action("Index", "Login")">Login</a></li>
                        }
                        <li><a class="text-muted" href="@Url.Action("Carrello", "Utente")">Carrello</a></li>
                        <li><a class="text-muted" href="@Url.Action("Ordini", "Utente")">I miei ordini</a></li>
                        <li><a class="text-muted" href="@Url.Action("InfoPagamento", "Utente")">Informazioni pagamento</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    @{ var u = Ecommerce.Utils.SessionContext.GetUserData();
                        if (u != null && u.Roles.Contains("Admin"))
                        {
                            <h5>Admin</h5>
                            <ul class="list-unstyled text-small">
                                <li><a class="text-muted" href="@Url.Action("EditCorso", "Admin")">Aggiungi corso</a></li>
                                <li><a class="text-muted" href="@Url.Action("EditCorso", "Statistiche")">Statistiche</a></li>
                                <li><a class="text-muted" href="@Url.Action("EditCorso", "GestioneAdmin")">Gestione admin</a></li>
                            </ul>
                        }
                    }
                </div>
            </div>


        </footer>
    </div>

</body>
</html>