@model Ecommerce.Models.DB.Corso

@{
    ViewBag.ShowNavBarSearch = true;
    ViewBag.ShowNavBarLogin = true;
}

@if (ViewData["ID"] is Ecommerce.Models.DB.Corso corso)
{
    ViewBag.Title = corso.Titolo;
    <a class="card" href="/Corsi/@corso.ID" style="padding: 16px">
        <div class="row">
            <div class="col-auto"><img src="~/Content/img/@corso.Immagine" width="80" /></div>
            <div class="col">
                <h4>@corso.Titolo</h4>
                <span>Categoria: </span><br />
                <span>Autore: @corso.Autore</span>
                <p>@corso.Descrizione</p>
                <div class="row">
                    <div class="col-auto">
                        <span class="stars">
                            @Html.Raw(GetStars(corso.Valutazione))
                        </span>@corso.Valutazione
                    </div>
                    <div class="col">
                    </div>
                    <div class="col-auto">
                        @corso.Prezzo.ToString("#.##") €
                    </div>
                </div>
            </div>
        </div>
    </a>


    string GetStars(float d)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        int starscount = 5;

        int intd = (int)d;

        for (int i = 0; i < intd; i++, starscount--)
            sb.Append("<i class=\"material-icons\">star</i>");

        if (d - intd >= .5)
        {
            starscount--;
            sb.Append("<i class=\"material-icons\">star_half</i>");
        }

        for (; starscount > 0; starscount--)
            sb.Append("<i class=\"material-icons\">star_border</i>");

        return sb.ToString();
    }

}