@model Ecommerce.Models.Filtri
@{
    ViewBag.Title = "Catalogo";
    ViewBag.ShowNavBarSearch = true;
    ViewBag.ShowNavBarLogin = true; /// monstra bar e login
    ViewBag.NavBarText = ViewData["testo"];
}


<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Edunet</h1>
        <p class="lead my-3">Edunet ha sviluppato per te una ricerca avanzata per poterti offrire una maggiore perfomance durante la tua ricerca</p>
    </div>
</div>


<div class="row">

    <div class="col-12 col-md-auto">

        <h4 id="filtri">Filtri</h4>
        @using (Html.BeginForm())
        {
            <div class="form-group">

                <p>
                    <label for="select">Categoria</label>
                    @Html.DropDownListFor((model) => model.IDcategoria, Model.Categorie)
                </p>
            </div>
            <div class="form-group">
                <p>Prezzi</p>
                da:
                @Html.EditorFor(model => model.prezzoInizio, new { htmlAttributes = new { type = "number", step = "0.01", style="width: 100px" } })
                a:
                @Html.EditorFor(model => model.prezzoFine, new { htmlAttributes = new { type = "number", step = "0.01", style="width: 100px" } })

            </div>

            <button id="ricer" class="btn btn-outline-primary" type="submit">Invio</button>
        }
    </div>

    <div class="col">



        @if (ViewData["migliori_corsi"] is List<Ecommerce.Models.DB.Corso> migliori_corsi && migliori_corsi.Count > 0)
        {
            foreach (var corso in migliori_corsi)
            {
                <a class="card corso" href="/Corsi/@corso.ID" style="padding: 16px">
                    <div class="row">
                        <div class="col-auto"><img src="~/Content/img/@corso.Immagine" style="width: 80px; min-width:80px" width="80" /></div>
                        <div class="col">
                            <h4>@corso.Titolo</h4>
                            <span>Categoria: </span><br />
                            <span>Autore: @corso.Autore</span>
                            <p>@corso.Descrizione</p>
                            <div class="row">
                                <div class="col-auto">
                                    @if (corso.Valutazione > 0)
                                    {
                                        <span class="stars">
                                            @Html.Raw(GetStars(corso.Valutazione))
                                        </span>@corso.Valutazione
                                    }
                                </div>
                                <div class="col">
                                </div>
                                <div class="col-auto">
                                    @corso.Prezzo.ToString("#.##") €
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }

            string GetStars(float d)
            {
                System.Text.StringBuilder sb = new System.Text.StringBuilder();
                int starscount = 5;

                int intd = (int)d;

                for (int i = 0; i < intd; i++, starscount--)
                    sb.Append("<i class=\"material-icons\">star</i>");

                if (d - intd >= .5)
                {
                    starscount--;
                    sb.Append("<i class=\"material-icons\">star_half</i>");
                }

                for (; starscount > 0; starscount--)
                    sb.Append("<i class=\"material-icons\">star_border</i>");

                return sb.ToString();
            }

        }
    </div>
</div>