@{
    ViewBag.Title = "Home Page";
    ViewBag.ShowNavBarSearch = true;
    ViewBag.ShowNavBarLogin = true;
}

@{

    if (ViewData["corso_random"] is Ecommerce.Models.DB.Corso corso)
    {
        <h3>Un corso a caso</h3>
        <a class="card corso" href="/Corsi/@corso.ID" style="padding: 16px">
            <div class="row">
                <div class="col-auto"><img src="~/Content/img/p/@corso.Immagine" style="width: 80px; min-width:80px" width="80" /></div>
                <div class="col">
                    <h4>@corso.Titolo</h4>
                    <span>Categoria: </span><br />
                    <span>Autore: @corso.Autore</span>
                    <p>@corso.Descrizione</p>
                    <div class="row">
                        <div class="col-auto">
                            @if (corso.Valutazione > 0)
                            {
                                <span class="stars">
                                    @Html.Raw(GetStars(corso.Valutazione))
                                </span>@corso.Valutazione
                            }
                        </div>
                        <div class="col">
                        </div>
                        <div class="col-auto">
                            @corso.Prezzo.ToString("#.##") €
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }


    if (ViewData["migliori_corsi"] is List<Ecommerce.Models.DB.Corso> migliori_corsi && migliori_corsi.Count > 0)
    {
        <h3>I migliori corsi</h3>
        <div class="scrolling-wrapper-container" id="scrolling-migliori-container">
            <span class="arrow-container arrow-container-left" data-toggle="#scrolling-migliori-container" data-elements="#scrolling-migliori"><i class="material-icons">chevron_left</i></span>
            <div class="scrolling-wrapper" id="scrolling-migliori">

                @foreach (var corsoo in migliori_corsi)
                {
                    <a href="/Corsi/@corsoo.ID" class="corso">
                        <div class="card inline-card">
                            <img class="card-img-top" src="~/Content/img/@corsoo.Immagine">
                            <div class="card-body">
                                <p class="card-title">@corsoo.Titolo</p>
                                <small class="text-muted">@corsoo.Autore</small>
                                <p class="valutazione">
                                    @if (corsoo.Valutazione > 0)
                                    {
                                        <span class="stars">
                                            @Html.Raw(GetStars(corsoo.Valutazione))
                                        </span>@corsoo.Valutazione
                                    }
                                </p>
                                <p class="prezzo text-right">@string.Format("{0:0.00}", corsoo.Prezzo) €</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <span class="arrow-container arrow-container-right" data-toggle="#scrolling-migliori-container" data-elements="#scrolling-migliori"><i class="material-icons">chevron_right</i></span>
        </div>
    }

    string GetStars(float d)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        int starscount = 5;

        int intd = (int)d;

        for (int i = 0; i < intd; i++, starscount--)
            sb.Append("<i class=\"material-icons\">star</i>");

        if (d - intd >= .5)
        {
            starscount--;
            sb.Append("<i class=\"material-icons\">star_half</i>");
        }

        for (; starscount > 0; starscount--)
            sb.Append("<i class=\"material-icons\">star_border</i>");

        return sb.ToString();
    }

}

@section scripts
{
    <script>
        $('.arrow-container-left').click(function () {
            scroll($(this), 0)
        });
        $('.arrow-container-right').click(function () {
            scroll($(this), 1)
        });

        /**
         * @@param sender
         * @@param orientation 0 left, otherwise right
         */
        function scroll(sender, orientation) {
            let width = $(sender.attr("data-toggle")).width();
            let el = $(sender.attr("data-elements"));

            if (el) {
                el.animate({ scrollLeft: el[0].scrollLeft + (orientation == 0 ? -width : width) }, 500);
            }
        }
    </script>
}  